body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
}

h1 {
    font-size: 15rem;
    font-family: 'Times New Roman', Times, serif; 
}

.letter {
    transition: color 1000ms;
}